*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container{
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: linear-gradient(to right top, #e0ffcd, #c9fbc7, #aef6c5, #8ff2c6, #68edcb);
}

.main{
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	text-align: center;
}

.main .logo{
	margin-top: 10px;
	margin-bottom: 10px;
}

.main .logo img{
	display: block;
    margin: 0 auto;
}

.main .text h1{
	margin-bottom: 10px;
	color: white;
	font-size: 60px;
	font-family: Verdana;
	text-align: center;
	padding: 10px;
	text-shadow: 2px 2px 4px #000000;
}

.main .text p {
	
	font-size: 14px;
	text-align: center;
	padding: 10px;
	overflow-wrap: break-word;
	width: 60%;
	margin: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
}


.main .buttons{
	width: 100%;
	justify-content:center;
	align-items:center;
	text-align: center;
}
.main .buttons .btn-sign{
	background-color: #FF995E;
	box-shadow: 0px 2px 4px #000000;
	padding: 10px;
	border: none;
    border-radius: 3px;
    padding: 15px 60px;
	text-decoration: none;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-shadow: 1px 1px 2px #000000;
	font-size: 16px;

	display: inline-block;
	text-align: center;
	margin: 2em;
}
.main .buttons .btn-sign:hover{
	 background-color: #1CE4B0;
}
.main .buttons .btn-join{
	background-color: #FF995E;
	box-shadow: 0px 2px 4px #000000;
	padding: 10px;
	border: none;
    border-radius: 3px;
    padding: 15px 60px;
	text-decoration: none;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-shadow: 1px 1px 2px #000000;
	font-size: 16px;
	
	display: inline-block;
	text-align: center;
}
.buttons .btn-join:hover{
	 background-color: #1CE4B0;
}

.footer{
	background:#E0FFCD;
	padding: 15px;
	width: 100%;
	color: #000;
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-around;
	position: absolute;
	bottom: 0;
}

.footer a{
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	text-decoration: none;
}
footer  a:hover {
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 2px #000000;
}